# for a description of available keys, see https://github.com/typst/packages/?tab=readme-ov-file#package-format

[package]
name = "{{ project }}"
version = "0.1.0"
entrypoint = "src/lib.typ"
authors = ["{{ git_user }}"]
license = "MIT"
description = "Add a little description here"
repository = "https://github.com/{{ git_user }}/{{ project }}.git"
keywords = ["template", "article"]
categories = ["paper", "report"]
disciplines = [
	"biology",
	"chemistry",
	"engineering",
	"geography",
	"mathematics",
	"physics",
]
compiler = "0.13.0"
exclude = [".github", "docs", "scripts", "tests", ".typstignore", "Justfile"]

[template]
path = "template"
entrypoint = "main.typ"
thumbnail = "thumbnail.png"

# [tool.mytool]
# foo = "bar"
